<main>
    <h1 class="text-center text-uppercase">Hello world!</h1>
    <h2 class="text-end text-lowercase">Hello world!</h2>
    <h3 class="text-capitalize">hello world!</h3>
    <hr>

    <div class="display-1 text-muted">Hello world!</div>
    <div class="display-5">Hello world!</div>
    <div class="display-6">Hello world!</div>
    <hr>

    <div class="text-muted text-end">Додатковий текст</div>
    <hr>

    <button class="btn btn-primary">Test button</button>
    <hr>

    <p class="text-primary">My text</p>
    <hr>

    <button class="btn btn-secondary btn-lg">Test button outline</button>
    <button class="btn btn-outline-secondary btn-sm">Test button outline</button>
    <button class="btn btn-outline-dark">Test button outline</button>
    <hr>

    <div class="card">
        <div class="card-body">
            My content
        </div>
    </div>

</main>