<main class="p-3">
    <div class="mb-5"></div>
    <div class="mb-5"><h2>Cписок сторінок</h2></div>
    <div class="mb-5"></div>
    <div>Тут вам потрібно написати інформацію про ваA проєкт.</div>
    <div>Поки що можна написати будь-який текст</div>
    <div class="mb-5"></div>
    {{#each pages}}
        <div class="mb-3"><a href="{{href}}" class="btn btn-primary" style="width: 150px;">{{text}}</a></div>
    {{/each}}
</main>